<div role="header">
    <header>
        <div class="inner clearfix">
            <div class="logo-outer">
                <div class="logo">
                    <a th:href="@{'/'}"><img th:src="@{${@environment.getProperty('i3-templates.dir')}+'/images/logo.png'}" alt="White logo"></a>
                </div>
            </div>
            <div class="wrap clearfix">
                <div class="navigation top">
                    <div class="inner">
                        <ul class="clearfix">
                            <li><a th:classappend="${active eq 'connect' AND instance eq 'connectorservice'} ? 'active' : ''"
                                   th:href="${@environment.getProperty('fw.i3.baseUrl.connect', 'http://localhost:8084')}">Connect</a></li>

                            <!--/* Solution in case of running two instances of the same service */-->
                            <!--/* <li class="dropdown">
                                <a href="#" class="dropdown-toggle" th:classappend="${active eq 'connect'} ? 'active' : ''" data-toggle="dropdown">
                                    Connect <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a th:classappend="${active eq 'connect' AND instance eq 'connectorservice'} ? 'active' : ''"
                                           th:href="${@environment.getProperty('fw.i3.baseUrl.connect', 'http://localhost:8084')}">Connect</a></li>
                                    <li><a th:classappend="${active eq 'connect' AND instance eq 'connect2'} ? 'active' : ''"
                                           href="http://localhost:8086">Connect2</a></li>
                                </ul>
                            </li> */-->

                            <li><a th:classappend="${active eq 'index' AND instance eq 'indexsvc'} ? 'active' : ''"
                                   th:href="${@environment.getProperty('fw.i3.baseUrl.index', 'http://localhost:8080')}">Index</a></li>

                            <li><a th:classappend="${active eq 'process' AND instance eq 'processing'} ? 'active' : ''"
                                    th:href="${@environment.getProperty('fw.i3.baseUrl.process', 'http://localhost:8081')}">Process</a></li>

                            <li><a th:classappend="${active eq 'search' AND instance eq 'search'} ? 'active' : ''"
                                   th:href="${@environment.getProperty('fw.i3.baseUrl.search', 'http://localhost:8090')}">Search</a></li>

                            <li><a th:classappend="${active eq 'sep'} ? 'active' : ''" th:href="${@environment.getProperty('fw.i3.baseUrl.sep', 'http://localhost:8083')}">Search editor</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    More <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a th:href="${@environment.getProperty('fw.i3.baseUrl.kibana', 'http://localhost:8085')}">Kibana</a></li>
                                    <li><a th:href="${@environment.getProperty('fw.i3.baseUrl.elastic', 'http://localhost:9200')}">Elastic</a></li>
                                    <li><a th:href="${@environment.getProperty('fw.i3.baseUrl.solr', 'http://localhost:8082/solr')}">Solr</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
